* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-image: url(img/fondo-main.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    background-attachment: fixed;
}



#main {
    display: grid;
}

header {
    grid-area: header;
}

.sect1 {
    grid-area: sect1;
}

.sect2 {
    grid-area: sect2;
}

footer {
    grid-area: footer;
}

@media screen and (min-width:320px) 
{
    #main {
        grid-template-columns: auto;
        grid-template-rows: 150px auto auto auto;
        grid-template-areas: "header" "sect1" "sect2" "footer";
    }

    /*GRID INDEX*/
    /*
    header {
        background-color: white;
        height: 150px;
        width: 100%;
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }*/

    .tamañoLogo {
        height: 120px;
        margin-left: 20px;
        position: relative;
    }
    
    ul li {
        color: rgba(255, 255, 255, 0.27);
        background-color: rgb(255, 255, 255);
        position: relative;
        /*
        display: inline-block;
        */
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 0px;
        margin-right: 50px;
        list-style-type: none;
        font-size: 2rem;
    }

    ul {
        display: none;
    }
    
    /*
    ul li {
        display: block;
    }
    */

    #menú {
        cursor: pointer;
        position: relative;
        font-size: 10rem;
        color: black;
        background: linear-gradient(rgba(128, 128, 128, 0.052), rgba(128, 128, 128, 0.292));
    }

    .sect1 {
        height: auto;
        width: 100%;
    }

    .fondoInicial {
        background-color: white;
        height: 100%;
        width: 100%;
    }

    .imagenInicio {
        width: auto;
    }

    #TituloSpam {
        font-size: 8rem;
        margin-top: 20px;
        font-family: 'Cookie', cursive;
        color: rgb(255, 0, 0);
        text-align: center;
    }

    #tituloPrincipal {
        font-size: 7rem;
        text-align: center;
    }

    .parrafoBienvenida {
        margin-top: 40px;
        margin-bottom: 40px;
        color: rgba(0, 0, 0, 0.682);
        text-align: center;
        font-family: sans-serif;
        font-size: 4rem;
        width: 70%;
        margin-left: 14.5%;
    }

    a {
        text-decoration: none;
        color: rgb(0, 0, 0);
    
    }

    .sect2 {
        width: 100%;
        height: 100%;
        
    }

    h2 {
        font-family: 'Cookie', cursive;
        font-size: 7rem;
        text-align: center;
        color: rgb(222, 222, 222);
        margin-top: 30px;
        margin-bottom: 0px;
    }

    .flexColumnRow {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        margin-left: 15%;
        width: 70%;
        height: 90%;
        margin-top: 50px;
        text-align: center;
     }

     .boxModel {
        border: solid rgb(155, 137, 137) 2px;
        background-color: rgb(0,0,0,0.9);
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 50px;
    }
    

    .tamañoImagen {
        width: 100%;
    }

    .titulosImagen {
        font-family: 'Courier New', Courier, monospace;
        color: rgb(255, 255, 255);
        font-size: 5.5rem;
        margin-top: 5px;
        margin-bottom: 5px;
        text-align: center;
        
    }

    .parrafoMain {
        font-size: 4rem;
        line-height: 5rem;
        text-align: center;
        color: white;
    }

    footer {
        background: linear-gradient(rgba(0, 0, 0, 0.256), black);
        height: 100%;
        width: 100%;
        
    }

    .tituloFooter {
        color: rgb(255, 255, 0);
        text-align: center;
        font-size: 5rem;
        font-family: 'Cookie', cursive;
    }
    /*
    .flexRow {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
    }*/
    
    i {
        font-size: 7rem;
        color: rgba(255, 255, 255, 0.482);
        margin-top: 20px;
        margin-bottom: 30px;
    }

    #copyright {
        color: rgb(255, 255, 0);
        text-align: center;
        font-size: 4rem;
    }

    /*GRID NOSOTROS*/

    .parrafoMenu {
        font-size: 4rem;
        background-color: rgba(0, 0, 0, 0.64);
        color: white;
        width: 80%;
        margin-left: 10%;
        text-align: center;
        margin-top: 50px;
    }

    #parrafoNosotros2 {
        line-height: 6rem;
        width: 80%;
        margin-left: 10%;
        margin-bottom: 50px;
    }
}



@media screen and (min-width:1200px) {
    #main {
        grid-template-columns: auto;
        grid-template-rows:  200px auto auto auto;
        grid-template-areas: "header" "sect1" "sect2" "footer";
    }
    
    /*GRID INDEX*/
    
    /*
    header {
        background-color: white;
        height: 100%;
        width: 100%;
        z-index: 1;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }*/

    .tamañoLogo {
        height: 80px;
        transition: height 0.7s;
    }

    .tamañoLogo:hover {
        height: 85px;
    }

    ul {
        display: inline-block;
    }

    .list-inline-item {
        list-style-type: none;
        text-decoration: none;
        font-size: 2.5rem;
    }

    /*
    ul li{
        background-color: rgb(255, 255, 255);
        position: relative;
        display: inline-block;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        margin-right: 50px;
        list-style-type: none;
        font-size: 3rem;
    }*/

    .transitionNav {
        border-bottom: double rgba(0, 0, 0, 0.468) 2px;
        color: black;
        text-decoration: none;
        transition: all 0.6s;
    }

    .transitionNav:hover {
        color: white;
        border-start-start-radius: 4rem;
        border-start-end-radius: 4rem;
        background-color: rgb(0, 0, 0);
        padding: 10px;
        border: solid white 2px;
    }

    .fondoInicial {
        background-color: white;
        height: 1100px;
    }

    #menú {
        display: none;
    }
    
    .sect1 {
        height: auto;
        width: 100%;
    }

    .imagenInicio {
        width: 80%;
        margin-left: 10%;
    }

    #TituloSpam {
        margin-top: 20px;
        line-height: 7rem;
        font-family: 'Cookie', cursive;
        font-size: 8rem;
        color: rgb(255, 0, 0);
        text-align: center;
    }

    #tituloPrincipal {
        font-size: 6rem;
        text-align: center;
    }

    .subtitulos {
        color: white;
        font-size: 5rem;
    }

    h2 {
        font-family: 'Courier New', Courier, monospace;
        font-size: 5rem;
        text-align: center;
        color: rgb(255, 255, 255);
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .parrafoBienvenida {
        width: 60%;
        margin-top: 30px;
        margin-bottom: 50px;
        margin-left: 20%;
        color: rgba(0, 0, 0, 0.612);
        text-align: center;
        font-style: normal;
        font-family: sans-serif;
        font-weight: bold;
        font-size: 3rem;
        background-color: white;

    }

    a {
        text-decoration: none;
        color: rgb(0, 0, 0);
    
    }

    .sect2 {
        height: 100%;
    }

    #fondo2 {
        background-color: rgba(0, 0, 0, 0.386);
    }
    
    .flexColumnRow {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 80%;
        height: auto;
        margin-left: 7.5%;
        
       
    }

    .boxModel {
        border: solid rgb(128, 120, 120) 2px;
        background-color: rgba(0, 0, 0, 0.468);
        padding: 10px;
        margin-left: 5%;
        height: auto;
    }

    .tamañoImagen {
        height: 200px;
    }

    .titulosImagen {
        font-family: 'Courier New', Courier, monospace;
        color: rgb(255, 255, 255);
        font-size: 2.5rem;
        margin-top: 5px;
        margin-bottom: 5px;
        text-align: center;
        
    }

    .parrafoMain {
        font-size: 2rem;
        line-height: 3rem;
        text-align: center;
        color: white;
    }

    footer {
        background: linear-gradient(rgba(0, 0, 0, 0.557), black);
        height: auto;
        width: 100%;
        
    }

    #tituloFooter {
        color: rgb(255, 255, 0);
        text-align: center;
        font-size: 4rem;
    }

    /*
    .flexRow {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
    }*/

    i {
        font-size: 7rem;
        color: rgba(255, 255, 255, 0.482);
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .transitionFooter {
        transition: 0.4s;
    }

    .transitionFooter:hover {
        transform: scale(1.5,1.5);
    }

    #copyright {
        color: rgb(255, 255, 0);
        text-align: center;
        font-size: 3rem;
    }
    
    /*CARTA*/

    .fotosPaises {
        width: 20%;
        margin-left: 40%;
    }
    
    .botonPedir {
        display: flex;
        justify-content: center;
        align-content: end;
        background-color: rgb(255,255,0);
        border-radius: 2rem;
        border-color: yellow;
        font-family: 'Courier New', Courier, monospace;
        font-weight: 700;
        font-size: 1.6rem;
        transition: all 0.6s;
    }

    .botonPedir:hover {
        border-color: white;
        background-color: rgba(199, 192, 0, 0.92);
        padding: 0px;
    }
    
    /*DELIVERY*/

    #parrafoDelivery {
        background-color: rgba(0, 0, 0, 0.187);
        font-size: 2.5rem;
        color: white;
        width: 40%;
        text-align: center;
        margin-left: 30%;
        margin-bottom: 50px;
    }
    
    #delivery {
        display: flex;
        justify-content: space-around;
        border: solid rgb(255, 255, 255) 3px;
        width: 50%;
        margin-bottom: 50px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 25%;
    }

    .imgDelivery {
        height: 100%;
    }
    
    #parrafoDelivery {
        background-color: rgba(0, 0, 0, 0.187);
        font-size: 2.5rem;
        color: white;
        width: 40%;
        text-align: center;
    }

    /*GRID NOSOTROS*/

    .parrafoMenu {
        background-color: rgba(0, 0, 0, 0.7);
        width: 60%;
        margin-left: 20%;
        text-align: center;
        font-size: 3rem;
    }
    
    #parrafoNosotros2 {
        margin-bottom: 70px;
    }

    /*CONTACTOS*/

    form {
        background-color:  rgb(255, 255, 255, 0.8);
        height: 460px;
        width: 250px;
        font-size: 2rem;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-right: 800px;
        position: relative;
        left: 550px;
        text-align: center;
    
    }

    .inputTamaño {
        padding: 5px 5px 5px 5px;
        margin: 10px 10px 10px 10px;
    }
    
    button {
        background-color: rgb(255,255,0);
        margin-left: 28%;
        border-bottom: solid grey 4px;
        border-right: solid grey 4px;
        border-top: double white 6px;
        border-left: double white 6px;
        font-family: 'Courier New', Courier, monospace;
        font-weight: 700;
        font-size: 1.6rem;
    }
}


/*BORDES GRID*/

/*
header {
    border: blue solid 1px;
}

.sect1 {
    border: solid blue 1px;
}

.sect2 {
    border: solid 1px blue;
}

footer {
    border: solid 1px blue;
}*/